.mobile-nav {
  position: fixed;
  // top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  // background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
  background: rgb(238, 238, 238);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  @media (max-width: 774px) {
    right: -60%;
  }
  @media (max-width: 600px) {
    right: -40%;
  }
  @media (max-width: 380px) {
    right: -30%;
  }
}

.mobile-nav a {
  color: #b7b7b7;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;

  & .active {
    position: relative;
    padding-bottom: 5px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: #000;
    }
  }
}
.mobile-nav__box {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  background-color: #fff;
  align-items: center;
  padding: 15px 20px;
}
.mobile-nav__box > li > a {
  display: flex;
}
