.store {
  margin-bottom: 250px;

  &__title {
    font-weight: 500;
    line-height: 43px;
    font-size: 33px;
    margin-bottom: 40px;
    padding-top: 93px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
    }
  }

  // .store__content

  &__content {
    display: flex;
    gap: 35px;
  }

  // .store__info

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 261px;
  }

  // .store__btn

  &__btn {
  }

  // .store__sale-box

  &__sale-box {
    display: flex;
    justify-content: space-between;
  }

  // .store__sale-text

  &__sale-text {
  }

  // .store__stoke-box

  &__stoke-box {
    display: flex;
    justify-content: space-between;
  }

  // .store__stoke-text

  &__stoke-text {
  }

  // .store__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.container {
}
.search {
  // .search__box

  &__box {
    position: relative;
    input {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 5px;
      width: 100%;
    }
    img {
      right: 0;
      position: absolute;
    }
  }
}
.toggle-btn {
}
input[type="checkbox"] {
  position: relative;
  width: 33px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #707070;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: 0.5s;
  top: 3.2px;
  left: 3px;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}

input[type="checkbox"]:checked {
  background: #00ed64;
}
//========================================================================================================================================================
